[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
flask = "*"
flask-pymongo = "*"
flask-cors = "*"
pytesseract = "*"
gunicorn = "*"
pdf2image = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
